/* fonts  */
.title-name{
    font-family: 'Poppins', sans-serif;
}
.nav-item-font{
    font-family: 'Poppins', sans-serif;
}
.heading{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 57.84px;
}
.button{
    width: 168px ;
    height: 44px;

}

.backborder-size{
    width: 552px;
    height: 460px;
}
.footer-size{
    width: 1440px;
    height: 280px;
    
}